# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
ui_*
Makefile
*.gcno
test_scripts/autosave1.cmp
test_scripts/autosave2.cmp
test_scripts/scenario1_3_result.cmp
test_scripts/scenario1_3_result.pdf
test_scripts/scenario1_4_result.pdf
